body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

section {
    background-color: #eee;
    padding: 20px;
}

.block {
    margin: 20px;
    padding: 20px;
}

#block1 {
    background-color: #f0f0f0;
}
#block2 {
    background-color: #d0d0d0;
}

#block3 {
    background-color: #b0b0b0;
}

#block4 {
    background-color: #909090;
}
.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

          /* large */
          @media (min-width: 1200px) {  
            .col-lg-1 {
             flex-basis: 8.33%;
            }
            .col-lg-2 {
             flex-basis: 16.66%;
            }
            .col-lg-3 {
             flex-basis: 25%;
            }
            .col-lg-4 {
             flex-basis: 33.33%;
            }
            .col-lg-5 {
             flex-basis: 41.66%;
            }
            .col-lg-6 {
             flex-basis: 50%;
            }
            .col-lg-7 {
             flex-basis: 58.33%;
            }
            .col-lg-8 {
             flex-basis: 66.66%;
            }
            .col-lg-9 {
             flex-basis: 75%;
            }
            .col-lg-10 {
             flex-basis: 83.33%;
            }
            .col-lg-11 {
             flex-basis: 91.66%;
            }
            .col-lg-12 {
             flex-basis: 100%;
            }
           }
           
           /*medium */
           @media (min-width: 992px) and (max-width: 1200px){
            .col-md-1 {
             flex-basis: 8.33%;
            }
            .col-md-2 {
             flex-basis: 16.66%;
            }
            .col-md-3 {
             flex-basis: 25%;
            }
            .col-md-4 {
             flex-basis: 33.33%;
            }
            .col-md-5 {
             flex-basis: 41.66%;
            }
            .col-md-6 {
             flex-basis: 50%;
            }
            .col-md-7 {
             flex-basis: 58.33%;
            }
            .col-md-8 {
             flex-basis: 66.66%;
            }
            .col-md-9 {
             flex-basis: 75%;
            }
            .col-md-10 {
             flex-basis: 83.33%;
            }
            .col-md-11 {
             flex-basis: 91.66%;
            }
            .col-md-12 {
             flex-basis: 100%;
            }
           }
           
           /*small*/
           @media (min-width: 768px) and (max-width: 992px){
            .col-sm-1 {
             flex-basis: 8.33%;
            }
            .col-sm-2 {
             flex-basis: 16.66%;
            }
            .col-sm-3 {
             flex-basis: 25%;
            }
            .col-sm-4 {
             flex-basis: 33.33%;
            }
            .col-sm-5 {
             flex-basis: 41.66%;
            }
            .col-sm-6 {
             flex-basis: 50%;
            }
            .col-sm-7 {
             flex-basis: 58.33%;
            }
            .col-sm-8 {
             flex-basis: 66.66%;
            }
            .col-sm-9 {
             flex-basis: 75%;
            }
            .col-sm-10 {
             flex-basis: 83.33%;
            }
            .col-sm-11 {
             flex-basis: 91.66%;
            }
            .col-sm-12 {
             flex-basis: 100%;
            }
           }
  @media (min-width: 768px){
            .col-sm-1 {
             flex-basis: 8.33%;
            }
            .col-sm-2 {
             flex-basis: 16.66%;
            }
            .col-sm-3 {
             flex-basis: 25%;
            }
            .col-sm-4 {
             flex-basis: 33.33%;
            }
            .col-sm-5 {
             flex-basis: 41.66%;
            }
            .col-sm-6 {
             flex-basis: 50%;
            }
            .col-sm-7 {
             flex-basis: 58.33%;
            }
            .col-sm-8 {
             flex-basis: 66.66%;
            }
            .col-sm-9 {
             flex-basis: 75%;
            }
            .col-sm-10 {
             flex-basis: 83.33%;
            }
            .col-sm-11 {
             flex-basis: 91.66%;
            }
            .col-sm-12 {
             flex-basis: 100%;
            }
           }
