body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

section {
    background-color: #eee;
    padding: 20px;
}

.block {
    margin: 20px;
    padding: 20px;
}

#block1 {
    background-color: ebc2af;
}
#block2 {
    background-color: 0bda51;
}

#block3 {
    background-color: 1560bd;
}

#block4 {
    background-color: #909090;
}
h2, h3 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: fit-content;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 110%;
}

.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

          /* large */
          @media (min-width: 1200px) {  
            .col-lg-1 {
             flex-shrink: 8.33%;
            }
            .col-lg-2 {
             flex-shrink: 16.66%;
            }
            .col-lg-3 {
             flex-shrink: 25%;
            }
            .col-lg-4 {
             flex-shrink: 41.66%;
            }
            .col-lg-6 {
             flex-shrink: 50%;
            }
            .col-lg-7 {
             flex-shrink: 58.33%;
            }
            .col-lg-8 {
             flex-shrink: 66.66%;
            }
            .col-lg-9 {
             flex-shrink: 75%;
            }
            .col-lg-10 {
             flex-shrink: 83.33%;
            }
            .col-lg-11 {
             flex-shrink: 91.66%;
            }
            .col-lg-12 {
             flex-shrink: 100%;
            }
           }
           
           /*medium */
           @media (min-width: 992px) and (max-width: 1200px){
            .col-md-1 {
             flex-shrink: 8.33%;
            }
            .col-md-2 {
             flex-shrink: 16.66%;
            }
            .col-md-3 {
             flex-shrink: 25%;
            }
            .col-md-4 {
             flex-shrink: 33.33%;
            }
            .col-md-5 {
             flex-shrink: 41.66%;
            }
            .col-md-6 {
             flex-shrink: 50%;
            }
            .col-md-7 {
             flex-shrink: 58.33%;
            }
            .col-md-8 {
             flex-shrink: 66.66%;
            }
            .col-md-9 {
             flex-shrink: 75%;
            }
            .col-md-10 {
             flex-shrink: 83.33%;
            }
            .col-md-11 {
             flex-shrink: 91.66%;
            }
            .col-md-12 {
             flex-shrink: 100%;
            }
           }
           
           /*small*/
           @media (min-width: 768px) and (max-width: 992px){
            .col-sm-1 {
             flex-shrink: 8.33%;
            }
            .col-sm-2 {
             flex-shrink: 16.66%;
            }
            .col-sm-3 {
             flex-shrink: 25%;
            }
            .col-sm-4 {
             flex-shrink: 33.33%;
            }
            .col-sm-5 {
             flex-shrink: 41.66%;
            }
            .col-sm-6 {
             flex-shrink: 50%;
            }
            .col-sm-7 {
             flex-shrink: 58.33%;
            }
            .col-sm-8 {
             flex-shrink: 66.66%;
            }
            .col-sm-9 {
             flex-shrink: 75%;
            }
            .col-sm-10 {
             flex-shrink: 83.33%;
            }
            .col-sm-11 {
             flex-shrink: 91.66%;
            }
            .col-sm-12 {
             flex-shrink: 100%;
            }
           }
  @media (min-width: 768px){
            .col-smm-1 {
             flex-shrink: 8.33%;
            }
            .col-smm-2 {
             flex-shrink: 16.66%;
            }
            .col-smm-3 {
             flex-shrink: 25%;
            }
            .col-smm-4 {
             flex-shrink: 33.33%;
            }
            .col-smm-5 {
             flex-shrink: 41.66%;
            }
            .col-smm-6 {
             flex-shrink: 50%;
            }
            .col-smm-7 {
             flex-shrink: 58.33%;
            }
            .col-smm-8 {
             flex-shrink: 66.66%;
            }
            .col-smm-9 {
             flex-shrink: 75%;
            }
            .col-smm-10 {
             flex-shrink: 83.33%;
            }
            .col-smm-11 {
             flex-shrink: 91.66%;
            }
            .col-smm-12 {
             flex-shrink: 100%;
            }
           }
