
 .center{
  text-align: center;
  font-size: 22px;
}
    .basic{
  font-style: italic;
}
    .my-friend{
  text-align: center;
    }
	table {
		border-collapse: collapse;
		width:100%;
	}
    .ba{
  text-align: center; 
  background-color: green; 
  color: white; 
  font-weight: bold; 
      }
    .last{
  text-align: right;    
	}
	  .ba1{
  text-align: center; 
  background-color: green; 
  color: white; 
  font-weight: bold; 	
 text-align: right;	 
	  }
	tr,td {
		border: 1px solid black;
		padding: 8px;
		text-align: left;
	}
	tr:nth-child(even){
		background-color: #f2f2f2;
	}

/* Large devices*/
@media (min-width: 992px) {
    .big-top td{
        font-size: 1.3em;
    }
    .big-nottop td{
        font-size: 1.2em;
    }
}
/* Medium devices */
@media (min-width: 768px) and (max-width: 992px) {
    .mdm-top td{
        font-size: 1.2em;
    }
    .mdm-nottop td{
        font-size: 1.1em;
    }
}
/* Small devices */
@media (max-width: 768px) {
    .sml-top th{
        font-size: 1.1em;
    }
}
