
    .center{
  text-align: center;
  font-size: 22px;
}
    .basic{
  font-style: italic;
}
    .my-friend{
  text-align: center;
    }
	table {
		border-collapse: collapse;
		width:100%;
	}
    .ba{
  text-align: center; 
  background-color: green; 
  color: white; 
  font-weight: bold; 
      }
    .last{
  text-align: right;    
	}
	  .ba1{
  text-align: center; 
  background-color: green; 
  color: white; 
  font-weight: bold; 	
 text-align: right;	 
	  }
table{
    border-collapse: collapse;
}
	table td,th{
    border: solid black 2px;
    text-align: center;
    padding: 2px;
}

	th{
    text-align: center;
    background-color: green;
    color:white;
    font-weight:bold;
}
th:nth-child(5), td:nth-child(5){
    text-align: end;
}
	

/* Large devices*/
@media (min-width: 992px) {
    .big-top th{
        font-size: 1.3em;
    }
    .big-nottop td{
        font-size: 1.2em;
    }
}
/* Medium devices */
@media (min-width: 768px) and (max-width: 992px) {
    .mdm-top th{
        font-size: 1.2em;
    }
    .mdm-nottop td{
        font-size: 1.1em;
    }
}
/* Small devices */
@media (max-width: 768px) {
    .sml-top th{
        font-size: 1.1em;
    }
}
