.center{
		text-align:center;
		font-size: 20px;
	}
		.basic{
			font-style: italic;
	}
		.bin{
		text-align:center;
		}
		.ba{
		text-align:center;
			font-size: 16.8px
		}
		.b{
		text-align:center;
			font-size: 31.2px;
		}
		.b1{
		text-align:center;
			font-size: 40.56px;
		}
		.b2{
		text-align:center;
		}
